@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: adobe-garamond-pro, serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: red;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.hamburger {
  position: fixed;
  cursor:pointer;
  top: 4px;
  right: 4px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-out;
}

header#header_site {
height:4vh;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.homepage main#main_site {
  display: flex;
  flex-direction:column;
  justify-content:center;
align-items: center;
}
.bar {
  width: 22px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  margin: 2px;
}

div.categories {
  display: flex;
  flex-direction:column;
}

a.button {
  display: block;
  background:green;
color:red;
padding:8px;
text-decoration: none;
margin:8px;
}

.menu {

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: opacity ease .3s;
  opacity: 0;
  position: fixed;
    left: 0;

    top: 30px;
    width: 100%;
}

.menu li {
  list-style-type: none;
}

#nav_site ul li a {
  text-decoration: none;
  color: #fff;
  padding: 12px;
  display: block;
}

h1 {
  font-size: 22px;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 92vh;
  background: #222;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell img {
  display: block;
  max-height: 100%;
}
div.thumb {
  width: 300px;
  height: 300px;
  background: #fff;
}

@media screen and (orientation: landscape) {
 

  #nav_site ul {
    flex-direction: row;
  }

}


.appear {
  opacity: 1;
}

.hamburger.animated {
  transform: rotate(90deg);
}

a#logo_home {
  display: block;

  height:100%;
}



#logo_header {
  display:block;

  height:100%;
  width:auto;
  padding:4px;
}

/* desktop styles */
@media screen and (orientation: landscape) {


  h1 {
    font-size: 42px;

  }

  .homepage main#main_site {
    flex-direction:row;
  }

  div.thumbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
  }

  div.hamburger {
    display: none;
  }

  .menu {
    opacity: 1;
    position: relative;
    left: 0;

    top: 0;
    width: auto;
  }

}
footer#site_footer {
  height:4vh;
}
